<div class="flex items-center justify-center min-h-screen bg-gray-100 px-4">
  <div class="w-full max-w-md space-y-6">
    <!-- Nagłówek aplikacji -->
    <div class="text-center">
      <h1 class="text-4xl font-bold text-indigo-600">Spacify</h1>
      <p class="text-gray-600 text-sm mt-1.5">
        System do zarządzania przestrzenią biurową
      </p>
    </div>

    <!-- Formularz rejestracji -->
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="bg-white rounded-2xl shadow-xl w-full p-6 space-y-6"
    >
      <div>
        <h2 class="text-2xl font-bold text-gray-800">Rejestracja</h2>
        <p class="text-sm text-gray-500 mt-1.5">
          Utwórz konto, aby uzyskać dostęp do systemu
        </p>
      </div>

      <div class="space-y-4">
        <div>
          <label for="name" class="block text-sm font-medium text-gray-700"
            >Imię</label
          >
          <input
            id="name"
            formControlName="name"
            type="text"
            class="mt-1 w-full px-4 py-2 bg-gray-50 placeholder-gray-400 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
            placeholder="Wpisz imię"
          />
          <div
            *ngIf="f['name'].touched && f['name'].errors"
            class="text-red-500 text-sm"
          >
            <div *ngIf="f['name'].errors['required']">Imię jest wymagane.</div>
            <div *ngIf="f['name'].errors['maxlength']">
              Imię nie może przekroczyć 50 znaków.
            </div>

            <div
              *ngIf="
                f['name'].errors['hasSpaces'] ||
                f['name'].errors['hasSpecialChars'] ||
                f['name'].errors['hasNumber']
              "
            >
              Pole imię jest nieprawidłowe.
            </div>
          </div>
        </div>

        <div>
          <label for="surname" class="block text-sm font-medium text-gray-700"
            >Nazwisko</label
          >
          <input
            id="surname"
            formControlName="surname"
            type="text"
            class="mt-1 w-full px-4 py-2 bg-gray-50 placeholder-gray-400 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
            placeholder="Wpisz nazwisko"
          />

          <!--info HERE IF'Y  -->
          <div
            *ngIf="f['surname'].touched && f['surname'].errors"
            class="text-red-500 text-sm"
          >
            <div *ngIf="f['surname'].errors['required']">
              Nazwisko jest wymagane.
            </div>
            <div *ngIf="f['surname'].errors['maxlength']">
              Nazwisko nie może przekroczyć 50 znaków.
            </div>

            <div
              *ngIf="
                f['surname'].errors['hasSpaces'] ||
                f['surname'].errors['hasSpecialChars'] ||
                f['surname'].errors['hasNumber']
              "
            >
              Pole nazwisko jest nieprawidłowe.
            </div>
          </div>
        </div>

        <div>
          <label for="email" class="block text-sm font-medium text-gray-700"
            >Email</label
          >
          <input
            id="email"
            formControlName="email"
            type="email"
            class="mt-1 w-full px-4 py-2 bg-gray-50 placeholder-gray-400 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
            placeholder="Wpisz email"
            autocomplete="email"
          />
          <!-- info HERE IF EMAIl -->

          <div
            *ngIf="f['email'].touched && f['email'].errors"
            class="text-red-500 text-sm"
          >
            <div *ngIf="f['email'].errors['required']">
              Email jest wymagany.
            </div>

            <div
              *ngIf="
                f['email'].errors['maxlength'] ||
                f['email'].errors['containsSpace'] ||
                f['email'].errors['email']
              "
            >
              Proszę wprowadzić poprawny email.
            </div>
          </div>
          <!--INFO END   -->
        </div>

        <div>
          <label for="password" class="block text-sm font-medium text-gray-700"
            >Hasło</label
          >
          <div class="relative">
            <input
              id="password"
              formControlName="password"
              [type]="showPassword ? 'text' : 'password'"
              class="mt-1 w-full px-4 py-2 pr-10 bg-gray-50 placeholder-gray-400 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
              placeholder="Wpisz hasło"
              autocomplete="current-password"
            />

            <button
              *ngIf="f['password'].value"
              type="button"
              (click)="togglePasswordVisibility()"
              class="absolute right-2 top-6 transform -translate-y-1/2 text-gray-500 hover:text-gray-700 focus:outline-none cursor-pointer"
            >
              <i [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
            </button>
          </div>
          <!--info HERE IF DO Password  -->

          <div
            *ngIf="f['password'].touched && f['password'].errors"
            class="text-red-500 text-sm"
          >
            <div *ngIf="f['password'].errors['required']">
              Hasło jest wymagane.
            </div>

            <div
              *ngIf="
                f['password'].touched &&
                !f['password'].errors?.['required'] &&
                (f['password'].errors['containsSpace'] ||
                f['password'].errors['weakPassword'] ||
                f['password'].errors['maxlength'])
              "
            >
              Hasło musi mieć co najmniej 12 znaków, zawierać małe i duże
              litery, cyfry oraz znaki specjalne.
            </div>
          </div>

          <!--info END IFA  -->
        </div>
      </div>

      <div *ngIf="successMessage" class="text-green-600 text-sm text-center">
        {{ successMessage }}
      </div>
      <div *ngIf="errorMessage" class="text-red-600 text-sm text-center">
        {{ errorMessage }}
      </div>

      <button
        type="submit"
        [disabled]="registerForm.invalid"
        class="w-full py-2 px-4 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 focus:outline-none cursor-pointer"
      >
        Zarejestruj się
      </button>

      <p class="text-sm text-center text-gray-500">
        Masz już konto?
        <a
          routerLink="/login"
          class="text-indigo-600 hover:underline cursor-pointer"
          >Zaloguj się</a
        >
      </p>
    </form>
  </div>
</div>
