<!--Info Main  -->
<div id="container">
  <div id="h1-section">
    <h1>Rezerwacja stanowisk pracy</h1>
    <span
      >Wybierz datę, godziny i stanowisko pracy z interaktywnego planu
      biura</span
    >
  </div>

  <div id="calendarContainer">
    <div class="topTitle">
      <i class="fa-solid fa-calendar-days"></i>
      <h2>Wybierz termin</h2>
    </div>

    <div class="calendar-wrapper">
      <!--! LEWA STRONA: Kalendarz -->
      <div class="calendar-section">
        <mat-calendar
          [(selected)]="selectedDate"
          (selectedChange)="onDateChange($event)"
          [dateFilter]="excludeWeekends"
          [minDate]="minDateForDatePicker"
          [maxDate]="maxDateForDatePicker"
        ></mat-calendar>
      </div>

      <!--! PRAWA STRONA: Rezerwacja -->
      <div class="reservation-section" *ngIf="selectedDate">
        <h2>Rezerwacja stanowiska</h2>

        <!-- TODO formularz rezerwacji -->

        <form [formGroup]="reservationForm" id="reservationFormContainer">
          <mat-form-field appearance="outline">
            <mat-label>Godzina rozpoczęcia</mat-label>
            <input
              matInput
              formControlName="startTime"
              [matTimepicker]="pickerStart"
              matTimepickerMin="8:00"
              matTimepickerMax="18:00"
            />
            <mat-timepicker-toggle matIconSuffix [for]="pickerStart" />
            <mat-timepicker interval="30m" #pickerStart />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Godzina zakończenia</mat-label>
            <input
              matInput
              formControlName="endTime"
              [matTimepicker]="pickerEnd"
              matTimepickerMin="8:00"
              matTimepickerMax="18:00"
            />
            <mat-timepicker-toggle matIconSuffix [for]="pickerEnd" />
            <mat-timepicker interval="30m" #pickerEnd />
          </mat-form-field>
        </form>

        @if (reservationForm.get('startTime')?.errors?.['required'] ||
        reservationForm.get('endTime')?.errors?.['required']) {
        <div class="custom-error-message">
          Podaj godzinę rozpoczęcia i zakończenia.
        </div>
        } @if (reservationForm.get('startTime')?.errors?.['notFullOrHalfHour']
        || reservationForm.get('endTime')?.errors?.['notFullOrHalfHour']) {
        <div class="custom-error-message">
          Godzina musi kończyć się na :00 lub :30 (np. 15:00, 15:30).
        </div>
        } @if (reservationForm.get('startTime')?.errors?.['matTimepickerMin'] ||
        reservationForm.get('endTime')?.errors?.['matTimepickerMin']) {
        <div class="custom-error-message">
          Godzina poza dozwolonym zakresem (8:00–18:00).
        </div>
        } @if (reservationForm.get('startTime')?.errors?.['matTimepickerMax'] ||
        reservationForm.get('endTime')?.errors?.['matTimepickerMax']) {
        <div class="custom-error-message">
          Godzina poza dozwolonym zakresem (8:00–18:00).
        </div>
        } @if (reservationForm.get('startTime')?.errors?.['matTimepickerParse']
        || reservationForm.get('endTime')?.errors?.['matTimepickerParse']) {
        <div class="custom-error-message">
          Wybrano nieprawidłowy format godziny.
        </div>
        } @if (reservationForm.errors?.['sameStartEndTime']) {
        <div class="custom-error-message">
          Godzina rozpoczęcia i zakończenia nie mogą być takie same.
        </div>
        }@if (reservationForm.errors?.['endBeforeStart']) {
        <div class="custom-error-message">
          Godzina zakończenia musi być późniejsza niż godzina rozpoczęcia.
        </div>
        }

        <!-- TODO formularz rezerwacji -->

        <!--! Dół: Podsumowanie -->
        <div class="summary-section" *ngIf="selectedDate">
          <h3>Wybrany termin:</h3>
          <ng-container
            *ngIf="
              reservationForm.get('startTime')?.value &&
                reservationForm.get('endTime')?.value;
              else noRange
            "
          >
            <ng-container *ngIf="!isTimeRangeInvalid; else invalidRange">
              {{ formattedDate }} <br />
              {{ formattedStartTime }} - {{ formattedEndTime }}
            </ng-container>
          </ng-container>
          <ng-template #noRange>
            <p>Nie podano zakresu</p>
          </ng-template>
          <ng-template #invalidRange>
            <p>Podano zły zakres</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div id="planContainer">
    <div id="planTopSection">
      <div class="topTitle" id="planTopTitle">
        <i class="fa-solid fa-location-dot"></i>
        <h2>Plan biura</h2>
      </div>
      <div id="floorBtns">
        <mat-button-toggle-group
          name="floorToggle"
          [(value)]="selectedFloorId"
          (change)="onFloorChange($event.value)"
          class="floor-toggle-group"
          [hideSingleSelectionIndicator]="true"
        >
          <mat-button-toggle
            *ngFor="let floor of floors"
            [value]="floor.id"
            class="floor-toggle"
          >
            {{ floor.name }}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>

    <div id="planSection">
      <div #floorPlan class="floorPlanContainer"></div>
    </div>
  </div>

  <!-- todo -->
  <div
    class="summary-container"
    *ngIf="
      reservationForm.get('startTime')?.valid &&
      reservationForm.get('endTime')?.valid &&
      !isTimeRangeInvalid &&
      selectedWorkstationId
    "
  >
    <div class="topTitle summary-title">
      <i class="fa-solid fa-clipboard-list"></i>
      <h2>Podsumowanie rezerwacji</h2>
    </div>
    <div class="summary-content">
      <p>
        <span> <strong>Data:</strong> {{ formattedDate }} </span>

        <span>
          <strong>Godzina:</strong> {{ formattedStartTime }} -
          {{ formattedEndTime }}
        </span>

        <span> <strong>Stanowisko:</strong> {{ selectedDeskNumber }} </span>
        <span>
          <strong>Piętro:</strong>
          {{ selectedFloorName }}
        </span>
      </p>
      <button mat-raised-button (click)="confirmReservation()">
        Zarezerwuj
      </button>
    </div>
  </div>
  <!--todo  -->
</div>

<!--Info Main  -->
