<div id="container">
  <header id="my-reservations-header">
    <h1>Moje rezerwacje</h1>
    <p class="subtitle">
      Zarządzaj swoimi rezerwacjami stanowisk pracy i sal konferencyjnych
    </p>
  </header>

  <section id="info-blocks">
    <div
      class="info-block"
      *ngFor="let block of infoBlocks; let i = index"
      [ngClass]="block.status"
    >
      <div class="block-content">
        <p [ngClass]="block.status">{{ block.label }}</p>
        <h3>{{ block.value }}</h3>
      </div>

      <div class="block-icon" [ngClass]="block.status">
        <i [class]="block.icon"></i>
      </div>
    </div>
  </section>

  <!-- FIXIT alert o potwierdzeniu rezerwacji -->
  <div
    [ngClass]="{ show: showReservationInfo, hide: !showReservationInfo }"
    class="reservation-info-alert"
    (click)="showReservationInfo = false"
    title="Informacja o rezerwacji"
  >
    <span class="alert-icon">
      <i class="fa-solid fa-circle-info"></i>
    </span>
    <span>
      Aby potwierdzić rezerwację, należy zrobić to
      <b>na godzinę przed rozpoczęciem</b>.
    </span>
    <button
      class="alert-close-btn"
      (click)="showReservationInfo = false"
      title="Zamknij komunikat"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <!-- FIXIT alert o potwierdzeniu rezerwacji -->

  <section id="reservations-list">
    <h2>Lista rezerwacji</h2>

    <!-- <div id="reservation-type-toggle"> -->
    <!-- <mat-button-toggle-group
      name="reservationType"
      class="reservation-toggle-group"
      [hideSingleSelectionIndicator]="true"
    >
      <mat-button-toggle value="all">Wszystkie</mat-button-toggle>
      <mat-button-toggle value="workstation"
        >Stanowiska pracy</mat-button-toggle
      >
      <mat-button-toggle value="conference"
        >Sale konferencyjne</mat-button-toggle
      >
    </mat-button-toggle-group> -->

    <div class="custom-toggle-group">
      <!-- <ng-container *ngFor="let option of toggleOptions">
        <button
          class="toggle-button"
          [class.active]="selectedOption === option.value"
          [disabled]="
            option.value === 'rooms' && userSignal?.role === 'Employee'
          "
          (click)="selectOption(option.value)"
          *ngIf="!(option.value === 'rooms' && userSignal?.role === 'Employee')"
        >
          {{ option.label }}
        </button>
      </ng-container> -->

      <button
        class="toggle-button"
        [class.active]="selectedOption === 'all'"
        (click)="selectOption('all')"
      >
        Wszystkie ({{ allReservationsCount }})
      </button>
      <button
        class="toggle-button"
        [class.active]="selectedOption === 'stations'"
        (click)="selectOption('stations')"
      >
        Stanowiska ({{ allWorkstationReservationsCount }})
      </button>
      <button
        class="toggle-button"
        [class.active]="selectedOption === 'rooms'"
        (click)="selectOption('rooms')"
        [disabled]="userSignal?.role === 'Employee'"
        *ngIf="userSignal?.role !== 'Employee'"
      >
        Sale konferencyjne ({{ allConfRoomReservationsCount }})
      </button>
    </div>
    <!-- </div> -->

    <!-- ! *ngIf="filteredReservations.length === 0" -->
    <div
      class="no-reservations-info-container"
      *ngIf="dataSource.data.length === 0"
    >
      <div class="no-reservations-info">
        <i class="fa-regular fa-calendar-xmark"></i>
        <span>{{
          selectedOption === "all"
            ? "Nie masz obecnie żadnych rezerwacji."
            : selectedOption === "stations"
            ? "Brak rezerwacji stanowisk pracy."
            : "Brak rezerwacji sal konferencyjnych."
        }}</span>
      </div>
    </div>

    <div class="table-responsive" *ngIf="dataSource.data.length > 0">
      <!-- ! -->
      <!-- [dataSource]="filteredReservations" -->
      <!-- ! -->
      <table
        mat-table
        [dataSource]="dataSource"
        id="reservations-table"
        class="mat-elevation-z2 full-width-table"
        matSort
        [matSortActive]="'reservationStart'"
        [matSortDirection]="'desc'"
      >
        <!-- Typ i nazwa Column -->
        <ng-container matColumnDef="typeName">
          <th mat-header-cell *matHeaderCellDef>Typ i nazwa</th>
          <td mat-cell *matCellDef="let res">
            <div class="table-row-info-and-icon">
              <i
                [ngClass]="[
                  'reservation-type-icon',
                  res.type === 'Stanowisko pracy'
                    ? 'workspace-bg'
                    : 'conference-room-bg'
                ]"
                [class]="
                  res.type === 'Stanowisko pracy'
                    ? 'fa-solid fa-location-dot'
                    : 'fas fa-users'
                "
              ></i>
              <div class="reservation-type-info">
                <div class="fw-bold">{{ res.locationName }}</div>
                <div class="text-muted small">{{ res.type }}</div>
              </div>
            </div>
          </td>
        </ng-container>

        <!-- Data i godzina Column -->
        <ng-container matColumnDef="dateTime">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="reservationStart"
          >
            Data i godzina
          </th>
          <td mat-cell *matCellDef="let res">
            <div class="date-col-container">
              <div class="date-cell-date">
                <i class="fa-solid fa-calendar-week"></i>
                {{ res.reservationStart | date : "yyyy-MM-dd" }}
              </div>
              <div class="date-cell-time">
                <i class="fa-regular fa-clock"></i>
                {{ res.reservationStart | date : "HH:mm" }} -
                {{ res.reservationEnd | date : "HH:mm" }}
              </div>
            </div>
          </td>
        </ng-container>

        <!-- Lokalizacja Column -->
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef>Lokalizacja</th>
          <td mat-cell *matCellDef="let res" class="location-col-container">
            {{ res.floorName }}
          </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="status-col-container">
            Status
          </th>
          <td mat-cell *matCellDef="let res" class="status-col-container">
            <span
              class="mat-status"
              [ngClass]="
                res.isConfirmed ? 'status-confirmed' : 'status-pending'
              "
            >
              {{ res.isConfirmed ? "Potwierdzona" : "Wymaga potwierdzenia" }}
            </span>
          </td>
        </ng-container>

        <!-- Akcje Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Dostępne działania</th>
          <td mat-cell *matCellDef="let res">
            <!-- ! -->
            <div class="action-btns-container">
              <button
                *ngIf="!res.isConfirmed"
                class="table-btn btn-confirm"
                title="Potwierdź rezerwację"
                [disabled]="!isConfirmBtnAvailable(res)"
                (click)="confirmReservation(res)"
              >
                <i class="fa-regular fa-square-check"></i> Potwierdź
              </button>
              <button
                class="table-btn btn-delete"
                title="Anuluj rezerwację"
                [disabled]="res.reservationEnd < now"
                (click)="cancelReservation(res)"
              >
                <i class="fa-solid fa-square-xmark"></i> Anuluj
              </button>
            </div>

            <!-- ! -->
          </td></ng-container
        >

        <!-- Header & Row Declarations -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [ngClass]="{ 'reservation-ended': row.reservationEnd < now }"
        ></tr>
      </table>
    </div>
  </section>
</div>
